/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Component Color */
.bg-color-bluedark {
    background-color: #19486a;
}

.bg-color-red {
    background-color: #df243b;
}

.bg-color-yellow {
    background-color: #f6bd0b;
}

.bg-color-orange {
    background-color: #f79724;
}

.bg-color-greenlight {
    background-color: #56ba2b;
}

.bg-color-greendark {
    background-color: #3f7e44;
}
/* End Component Color */

/* Component Motif */
.motif-title {
    width: 120px;
}
/* End Component Motif */

/* Conponent Font */
.text-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #19486a;
    margin-bottom: 40px;
    background-image: url('../images/motif-title.svg');
    background-repeat: no-repeat;
    background-position: right;
}

.text-content {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: 2;
}

.text-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #fff;
}

.text-occupation {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

.read-more {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    margin-top: 13px;
    transition: all 0.3s ease-in-out;
}

.text-nav-footer {
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.text-card-carousel {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    /* line-height: 2; */
}

.text-card-story {
    font-family: 'Montserrat', sans-serif;
    color: #19486a;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.text-modal-story {
    color: #19486a;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.text-submodal-story {
    color: #19486a;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 0px;
}

.text-card-story:hover {
    color: #19486a;
    font-weight: 700;
    transform: scale(1.1);
}

.read-more:hover {
    color: #fff;
    font-weight: 500;
    transform: scale(1.2);
}


.text-nav-footer:hover {
    color: #fff;
    font-size: 15px;
}
/* End Conponent Font */

/* Component Menus */
.menus {
    position: absolute;
    height: 60px;
    width: 112%;
    left: -12px;
    right: -12px;
    bottom: 0;
    padding-left: 10px;
    padding-top: 15px;
    background-image: url('../images/nav-motif-1.svg');
    background-repeat: no-repeat;
    background-position: right;
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    justify-items: center;
}

.menus:hover {
    padding-top: 25px;
    height: 80px;
    background-image: 50%;
    font-weight: 600;
    color: #fff;
}

.menus.active {
    padding-top: 25px;
    height: 80px;
    background-image: 50%;
    font-weight: 600;
    color: #fff;
    
}
/* End Component Menus */

/* Component Button */
.btn-motif {
    color: #fff;
    background-color: #1794D1;
    padding: 10px 50px;
    text-decoration: none;
    background-image: url(../images/motif-information.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.btn-motif:hover {
    color: #fff;
    font-size: 12px;
}
/* End Component Button */

/* Navigation Bar */
header .navbar {
    background-color: #fff;
    background-image: url('../images/nav-motif.svg');
    background-repeat: no-repeat;
    background-position: right;
}
/* End Navigation Bar */


.img-logo {
    width: 70%;
}

/* Jumbotron */
section .jumbotron {
    height: 550px;
    background-image: url('../images/img-hero-1.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

section .jumbotron1 {
    height: 550px;
    background-image: url('../images/img-hero-2.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

section .text-jumbotron {
    padding-top: 250px;
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

section .text-jumbotron span {
    font-weight: 700;
}
/* End Jumbotron */

/* About */
section.about {
    margin-top: 40px;
}

section.about span {
    display: flex;
    display: inline-block;
    justify-items: right;
    justify-content: end;
}
/* End About */

/* Section Carousel IHD */
section.carousel-ihd .card {
    border: none;
    border-radius: 0px;
}
/* End Section Carousel IHD */

/* Foreword */
section.foreword .card {
    border: none;
}

section.foreword .img-foreword {
    width: 100%;
}

section.foreword .card-body {
    background-color: #19486a;
    height: 100%;
    background-image: url('../images/motif-card-foreword.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
/* End Foreword */

/* inclusive Human */
section.story-ihd .card {
    border: 1;
    max-height: 100%;
}

section.story-ihd .img-card-ihd {
    width: 100%;
}

section.story-ihd .card-body {
    height: 100%;
    background-image: url('../images/motif-card.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
/* End inclusive Human */

































/* Owl Carousel Infografis */
.carousel-infografis {
    background:#fff;
    display:none;
    width:100%;
    z-index:1;
}
    
.carousel-infografis .owl-stage {
    position:relative;
    -ms-touch-action:pan-Y;
    touch-action:manipulation;
    /* -moz-backface-visibility:hidden; */
}

.carousel-infografis .owl-stage:after {
    content:'.';
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0;
}

.carousel-infografis .owl-stage-outer {
    position:relative; 
    /* overflow:hidden; */
    width:100%;
    transform:scale(1.7);
    padding:80px 0;
}

.carousel-infografis .owl-item {
    min-height:1px;
    float:left;
    /* height: 10px; */
    /* -webkit-backface-visibility:hidden; */
    /* -webkit-touch-callout:none; */
    transition:all .4s ease-in-out;
}

.carousel-infografis .owl-item img {
    background:#eee;
    display:block;
    width:100%;
    /* border-radius:5px; */
    /* height:240px; */
    object-fit:contain;
}

.owl-item.active {
    transform:scale(1);
    opacity:1;
}

.carousel-infografis .owl-item.active {
    opacity:1;
    /* display: inline-block; */
}

.carousel-infografis .owl-item.active.center {
    opacity:1;
    transform: scale(1.8);
}

.carousel-infografis .owl-nav{
    position:absolute;
    z-index:1;
    width:100%;
    font-size:30px;
    top:40%;
}

.carousel-infografis .owl-nav button.owl-next, .carousel-infografis .owl-nav button.owl-prev {
    box-shadow:0 8px 8px rgb(0 0 0 / 30%);
    background-color:#000;
    line-height:0;
    border-radius:100%;
    position:absolute;
    display: flex;
    justify-content: center;
}

.carousel-infografis .owl-nav button.owl-next{ 
    right:26%;
    height: 40px;
    width: 40px;
}

.carousel-infografis .owl-nav button.owl-next:hover{ 
    /* background-color: #19486a; */
    color: #fff;
    transform: scale(0.9);
}

.carousel-infografis .owl-nav button.owl-prev {
    left:26%;
    height: 40px;
    width: 40px;
}

.carousel-infografis .owl-nav button.owl-prev:hover {
    /* background-color: #19486a; */
    color: #fff;
    transform: scale(0.9);
}
/* End Carousel Infografis */

/* Carousel Card */
.carousel-card .owl-nav{
    position: absolute;
    z-index:1;
    width:100%;
    font-size:30px;
    top:40%;
}

.carousel-card .owl-nav button.owl-next, .carousel-card .owl-nav button.owl-prev {
    box-shadow:0 8px 8px rgb(0 0 0 / 30%);
    background-color:#000;
    line-height:0;
    border-radius:100%;
    position:absolute;
    display: flex;
    justify-content: center;
}

.carousel-card .owl-nav button.owl-next{ 
    right: 0px;
    height: 40px;
    width: 40px;
}

.carousel-card .owl-nav button.owl-next:hover{ 
    /* background-color: #19486a; */
    color: #fff;
    transform: scale(0.9);
}

.carousel-card .owl-nav button.owl-prev {
    left: -20px;
    height: 40px;
    width: 40px;
}

.carousel-card .owl-nav button.owl-prev:hover {
    /* background-color: #19486a; */
    color: #fff;
    transform: scale(0.9);
}
/* End Carousel Card */


@media screen and (max-width:980px){.carousel-card .owl-stage-outer{transform:scale(1.5)}}
@media screen and (max-width:768px){.carousel-card .owl-stage-outer{transform:scale(1);padding:10px 0}.owl-nav{display:none}}
@media screen and (max-width:980px){.carousel-infografis .owl-stage-outer{transform:scale(1.5)}}
@media screen and (max-width:768px){.carousel-infografis .owl-stage-outer{transform:scale(1);padding:10px 0}.owl-nav{display:none}}
/* End Owl Carousel */

/* Floating menu */
.action  {
    position: fixed;
    bottom: 40px;
    left: -70px;
    width: 40px;
    height: 40px;
    background: #fff;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    transition: all 0.3s ease-out;
    transform: rotate(0);
    /* box-shadow: 0px 5px 5px rgba(0, 0, 0, 1); */
}

.action.show {
    left: 40px;
    transform: rotate(180);
}

.action .toggle-menu {
    background-image: url(../images/bg-toggle.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    transition: 0.3s ease-in-out;
}

.action .text-menu {
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
}

.action.active .toggle-menu {
    transform: rotate(180deg);
}

.action ul {
    position: absolute;
    bottom: 55px;
    background: #fff;
    min-width: 250px;
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.action.active ul {
    bottom: 65px;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}

.action.active ul li a{
    color: black;
}

.action.active ul li {
    color: black;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding: 10px 0px; */
    transition: 0.3s;
}

.action ul li:hover {
    font-weight: 600;
}

.action ul li:not(:last-child){
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}
/* END Floating menu */

/* Footer */
section.footer {
    background-image: url('../images/motif-footer.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #1794D1;
    color: #fff;
}
/* End Footer */






































